.page-profile {
  display: flex;
}

.form-edit {
  align-items: center;
  background-color: rgba(148, 148, 148, 0.432);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  padding: 90px;
}

.form-edit input {
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 7px 80px;
  text-align: center;
}

.form-edit button {
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 7px 80px;
  text-align: center;
}
